@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@font-face {
  font-family: "Freight Text";
  src: url("/fonts/Freight-Text-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela Light Trial";
  src: url("/fonts/Canela-Light-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-serif: var(--font-serif), serif;
  --font-sans: var(--font-sans), sans-serif;
  --font-cormorant : "Cormorant Garamond", serif;
  --font-montserrat : "Montserrat", sans-serif;

  --font-canela : "Canela Light Trial", serif;
  --font-freight : "Freight Text", serif;
  
  --color-brand-sand: #F4F1EC;
  --color-brand-dark: #494845;
  --color-brand-footer: #F4F1EC;
  --color-warm-grey : #DAD7D1;
  
}

body {
  background-color: var(--color-brand-sand);
  color: var(--color-brand-dark);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Elegant text styles */
.font-serif-elegant {
  font-family: var(--font-serif);
}

.font-sans-elegant {
  font-family: var(--font-sans);
}
